* {
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: brown;
}

#valorPagar {
    border: 3px solid aliceblue;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
}

button {
    background-color: cadetblue;
    color: black;
    text-transform: capitalize;
    padding: 15px  20px;
    font-size: 13px;
    margin-top: 20px;
    width: 250px;
    max-width: 100%;
    position: relative;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0px 0px 4px black;
    transition: .3s;
    transform: scale(1.07);
}

h1 {
    margin-bottom: 50px;
}